<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.schoolhub">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <uses-feature android:name="android.hardware.camera.ar" />
    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity android:name=".ReviewAndFeedback" />
        <activity android:name=".ui.liveStream.LiveStreamView" />
        <activity android:name=".StatisticsResult" />
        <activity android:name=".ui.liveStream.LiveStreamCam" />
        <activity android:name=".ui.liveStream.LiveStreamRequest" />
        <activity android:name=".RequestsForSchoolAdmin" />
        <activity android:name=".EditAccountSettings" />
        <activity android:name=".EditSchoolFeeStructure" />
        <activity android:name=".EditSchoolPhotos" />
        <activity android:name=".EditSchool" />
        <activity android:name=".AddingSchool.AddingSchoolStep2_3" />
        <activity android:name=".AdminDashboard" />
        <activity android:name=".AddingSchool.AddingSchoolCompleted" />
        <activity android:name=".UserProfile" />
        <activity android:name=".AddingSchool.AddingSchoolStep4" />
        <activity android:name=".AddingSchool.AddingSchoolStep3" />
        <activity android:name=".AddingSchool.AddingSchoolStep2" />
        <activity android:name=".AddingSchool.AddingSchool" />
        <activity android:name=".LandingScreen" />
        <activity android:name=".ARModel" />
        <activity android:name=".SignIn" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.ar.core"
            android:value="required" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_api_key" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".SchoolDetails"
            android:label="School Details" /> <!-- android:theme="@style/AppTheme.ActionBar" -->
        <activity
            android:name=".HomePanel"
            android:label="@string/title_activity_home_panel"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SignUp" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>